// Typography
@import url('https://fonts.google.com/specimen/Space+Grotesk');

// VARIABLES 
// Colors
$white-color: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$dark-violet: hsl(278, 68%, 11%);
// Gradiant
$gradiant: hsl(249, 99%, 64%), hsl(278, 94%, 30%);

// Fonts
$main-font: 'Space Grotesk', sans-serif;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: $main-font;
    font-size: 18px;
}
.container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 100vh;
}
.left-gradiant {
    background-image: url("../../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    .card-front {
        position: relative;
        top: 20%;
        left: 45%;
        color: $white-color;
        .circle1 {
            position: absolute;
            top: 10%;
            left: 5%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $white-color;
        }
        .circle2 {
            position: absolute;
            top: 15%;
            left: 17%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $white-color;
        }
        .card-number {
            position: absolute;
            top: 60%;
            left: 5%;
            font-size: 30px;
            letter-spacing: 0.3rem;
        }
        .cardholder-name {
            position: absolute;
            top: 80%;
            left: 5%;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
        }
        .expiry-date {
            position: absolute;
            top: 80%;
            left: 350px;
            float: right;
            letter-spacing: 0.15rem;
        }
    }
    .card-back {
        position: relative;
        top: 25%;
        left: 60%;
        color: $white-color;
        .cvc-number {
            position: absolute;
            top: 110px;
            left: 360px;
        }
    }
}
.card-form {
    margin: auto;
    input {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
    }
}
